<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.erlandhu.almall.coupon.repository.mapper.CouponMapper">

    <select id="getOne" resultType="org.erlandhu.almall.coupon.repository.entity.Coupon">
        select * from coupon_template where  id = ${id}
    </select>


</mapper>
