<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.erlandhu.almall.coupon.repository.mapper.CouponTemplateMapper">

    <select id="getOne" resultType="org.erlandhu.almall.coupon.repository.entity.CouponTemplate">
        select * from coupon_template where  id = #{id}
    </select>


    <update id="decrementInventory">
        update coupon_template set inventory = inventory - 1, updated_at = NOW(), balance = balance - #{balance}
        where id = #{id}
    </update>
</mapper>
